<!--background image
<div class="epicFullscreen">
  <img class="epicImg" src="/assets/images/cartel/fullscreen-bkg.jpg" alt=""/>
</div>-->

<!--start header-->
<div id="header-wrapper">
  <div id="header-inner">
    <header>
      <div id="logo">
        <a href="/"><img src="/assets/images/main/logo.png" alt="Fred Gijbels" /></a>
      </div>

      <!--mobileMenu toggle-->
      <div class="mobileMenuToggle"><a href=""></a></div>

      <nav>
        <ul class="navigation">
          <li><a href="index.html">Projects</a>
            <ul class="sub-menu">
              <% blog.articles.each_with_index do |article,i| %>
                <li><%= link_to "#{i} #{article.title}", article %></li>
              <% end %>
            </ul>
          </li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog-regular.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>

    </header>
  </div>
</div>