---
title: Ultimate Paradise
---

<!--start content-->
<div id="content-wrapper">
	<section id="ajaxpage" class="pages clearfix">
		<!--display-image-->
		<div class="featured-media-container clearfix">
			<div class="column-featured-half featured-info">
				<div class="featured-info-inner">
					<span>
						Kitch Pig
					</span>
				</div>
			</div>
			<div class="column-featured-half">
				<%= image_tag 'projects/ultimate.paradise/1.jpg' %>
			</div>
		</div>
		
		<h3>Irony</h3>
		<p>
			Fred Gijbels’s works are full of absurd and irony, however, what also breathes from this is the feeling of being encircled. 
			The author notices the omnipresence of ideology that penetrates the simplest daily activities, consumer or even culinary choices, 
			is dominated by references to politics, belief systems and the twentieth – century ideologies that were supposed to bring humanity 
			worldly salvation, worldly paradise.
		</p>
		
		<div id="grid-folio" style="margin-bottom:50px;">
			<div class="thumb">
				<a class="lightbox" href="/assets/images/cartel/project-18.jpg" rel="gallery" data-caption="Logo Negative White">
					<%= image_tag 'projects/ultimate.paradise/1.jpg' %>
				</a>
			</div>
			<div class="thumb">
				<a class="lightbox" href="/assets/images/cartel/project-19.jpg"  rel="gallery"  data-caption="Proposed Alternative">
					<%= image_tag 'projects/ultimate.paradise/2.jpg' %>               
				</a>
			</div>
			<div class="thumb">
				<a class="media" href="http://player.vimeo.com/video/53283894?title=0&amp;portrait=0&amp;color=e70000"  rel="gallery"  data-caption="Development Process">
					<%= image_tag 'projects/ultimate.paradise/3.jpg' %>
				</a>
			</div>
			<div class="fancybox-html"><p>And caption for your video here...</p></div>
		</div>
		
		<p>
			His latest exhibition draws ‘Ultimate Paradise’ draws attention to the role of aesthetics in the processes of diffusion and legitimation of authority, 
			which forms social order. Aesthetics in the service of ideology seems to be compelling; its function is to reproduce the imposed behavioral model of preserving social hierarchy. 
			It is blinding and it distracts from critical reflection.
		</p>

		<!--folio nav-->
		<div id="folio-navigation">
			<ul>
				<li id="prevProject">
					<a href="project-9.html" title="Previous Project"></a>
				</li>
				<li id="closeProject">
					<a href="../index.html" title="Back to Grid"></a>
				</li>
				<li id="nextProject">
					<a href="project-11.html" title="Next Project"></a>
				</li>
			</ul>
		</div>
		
	</section>
</div>