---
title: Welcome to Middleman
section: homepage
---

<div id="grid" class="clearfix">
		<div class="thumb thumb-type-2">
				<a href="folio/project-1.html" title="Project-1" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-1.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-2.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-2.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-3.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-3.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-2">
				<a href="folio/project-8.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-4.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-9.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-5.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-7.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-15.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-3">
				<a href="folio/project-5.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-7.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-4">
				<a href="folio/project-11.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-8.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-4.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-9.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-10.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-10.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-7.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-11.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-4.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-12.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-4.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-13.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-2">
				<a href="folio/project-2.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-14.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-3.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-17.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-4.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-6.jpg" alt="project 1"></a>
		</div>
		<div class="thumb thumb-type-1">
				<a href="folio/project-5.html" data-logo="/assets/images/cartel/logo.png"><img src="/assets/images/cartel/project-16.jpg" alt="project 1"></a>
		</div>
</div>